* {
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
}

.nav-bar {
	background-color: blue;
	height: 40px;
	width: 100%;
	position: fixed;
	top: 0px;
}

.nav-header {
	font-size: 20px;
	font-family: "Roboto", sans-serif;
}

.links {
	display: inline-block;
	position: absolute;
	right: 20px;
	top: -2px;

}

.link {
	display: inline-block;
	margin-left: 8px;
	color: purple;
}

a {
	text-decoration: none;
}

main {
	height: 1000px;
	margin-top: 40px;
	padding: 10px 70px;
	font-size: 0;
}

/*you don't need to always make a combined class to apply the same thing to two different objects.
you can select .search-header .search-bar*/
.search-header {
	font-size: 15px;
}

.search-bar-container {
	width: 100%;
	margin-top: 10px;
	height: 30px;
}

.search-bar {
	width: 50%;
	height: 100%;
	display: inline-block;
	padding: 0px;
	font-size: 15px;
}

.magnifying-icon {
	width: 30px;
	height: 28px;
	display: inline-block;
	position: relative;
	top: 15px;
	border: 1px solid gray;
	margin-left: 5px;
}

.pagination-container {
	height: 40px;
	margin-top: 40px;
}

.pagination-options {
	padding: 0px;
}

.pagination-option {
	display: inline-block;
	font-size: 15px;
	border: 1px solid gray;
	padding: 5px 10px;
}

.results {
	margin-top: 40px;
}

.result-info {
	font-size: 12px;
}

.result-info > a {
	font-size: 15px;
	color: blue;
}
